.body-container{
    background-color: lightgray;
    padding-bottom: 15rem;
    width: 100%;
}

.input-form{
    width: fit-content;
    margin: auto;
    padding: 5rem;
}
#link-input{
    font-family: Ubuntu !important;
    height: 3rem;
    width: 35rem;
    font-size: 160%;
    text-align: center;
    border: 2px solid #005bbc;
    border-radius: .5rem;
    outline: none;
    color: gray;
}

#submit-button{
    height: fit-content;
    margin-bottom: .5rem;
    margin-left: .5rem;
    padding: 1rem;
    border-radius: .5rem;
    background-color: #005bbc;
    color: white;
    font-size: 110%;
    cursor: pointer;
}
