@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.Body{
    width: 100%;
}
.body-container{
    font-family: 'Inter' !important;
    background-color: white;
    padding-bottom: 6rem;
    display: flex;
}

.interactive-container{
    display:block;
    margin: auto;
    margin-left: 5rem;
}

.input-form{
    width: fit-content;
    height: fit-content;
    margin: auto;
    padding: 2rem;
    /* border-radius: .7rem; */
    /* margin-top: 9rem; */
    /* box-shadow: 0 3px 20px rgb(0 0 0 / 0.3); */
    border-top: 2px lightgray solid;
    border-bottom: 2px lightgray solid;
}
#link-input{
    font-family: Ubuntu !important;
    height: 3rem;
    width: 33rem;
    font-size: 160%;
    text-align: center;
    border: 2px solid #005bbc;
    border-radius: .7rem;
    outline: none;
    color: gray;
    margin-bottom: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

}

#input-submit{
    background-color: #005bbc;
    text-align: center;
    padding: 1.1rem;
    border-radius: .7rem;
    cursor: pointer;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-top: 20px;
    padding-bottom: 14px;
    /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.4); */
}


#download-logo{
    color: #ffd700;
}

.invalid-link{
    border: 2px solid rgb(255, 0, 0) !important;
    box-shadow: 0 4px 20px rgb(255 0 0 / 0.5);
}

.valid-link{
    border: 2px solid rgb(0, 240, 0) !important;
    box-shadow: 0 4px 20px rgb(0 240 0 / 0.5);
}

.regular-border{
    border: 2px solid #005bbc !important;
}

#type-selector{
    margin-bottom: 1rem;
}

.option-labels{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-bottom: 1rem;
    color: rgb(84, 84, 84);
}