.tutorial{
    width: 19rem;
    height: fit-content;
    padding: 1rem;
    margin-right: auto;
    /* margin-right: 5rem; */
    border-top: 2px lightgray solid;
}

.tutorial-item{
    padding: .5rem;
    font-size: 100%;
    font-weight: medium;
}

#tutorial-title{
    text-align: center;
}