.video-container{
    margin: auto;
    padding: 2rem;
    border-bottom: 2px lightgray solid;
    /* box-shadow: 0 3px 20px rgb(0 0 0 / 0.3); */
    /* border-radius: 1rem; */
    width: fit-content;
    height: fit-content;
}