#videoViewer{
    border-bottom: 2px lightgray solid;
    display: flex;
    padding: 2rem;
}

.video-container{
    margin: 0;
    width: fit-content;
    height: fit-content;
}

#video-title{
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0;
}

.video-desc{
    display: block;
    margin: auto;
    margin-left: 0;
}