.header-container{
    text-align: center;
    background-color: #005bbc;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    font-family: Ubuntu !important;
    display: flex;
}
#header-brand{
    padding: 1rem;
    width: fit-content;
    height: fit-content;
    margin:auto;
    margin-right: 0;
}

.header-menu{
    margin: auto;
    font-size: 115%;
    font-weight: bold;
    margin: auto;
    height: fit-content;
    width: fit-content;

}

.header-button{
    padding: .8rem;
    margin: .5rem;
    margin-bottom: 0;
    text-align: center;
    color: white;
    cursor: pointer;
    outline: 1px solid transparent;
    transition: 0.4s all ease;
}

.header-button:hover{
    outline: 1px #016fe6 solid;
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.4);
    transition: outline-color .20s ease-out; 
}