.Footer{
  width: 100%;
}
.footer-container{
  position: relative;
  bottom:0;
  padding: 1rem;
  text-align: center;
  background-color: #005bbc;
}

.footer-menu{
  width: fit-content;
  margin: auto;
  display: flex;
}
  
.footer-container .footer-link{
  padding: 1rem;
  color: white;
  font-size: 90%;
}

#copyright{
  color: white;
  font-size: 90%;
  font-weight: normal;
}