.header-container{
    text-align: center;
    background-color: #005bbc;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    font-family: Ubuntu !important;
    display: flex;
    margin-bottom: 3rem;
}
#header-brand{
    padding: 1rem;
    width: 13rem;
    height: fit-content;
    margin:auto;
    margin-right: 0;
}

.header-menu{
    margin: auto;
    font-size: 105%;
    font-weight: bold;
    margin: auto;
    height: fit-content;
    width: fit-content;

}

.header-button{
    padding: 1rem;
    margin: 1rem;
    margin-bottom: 0;
    text-align: center;
    color: white;
    cursor: pointer;
    /* outline: 1px solid transparent; */
    border-radius: .7rem;
    transition: 0.4s all ease;
    text-decoration: none;
}

.header-button:hover{
    /* outline: 1px #016fe6 solid; */
    box-shadow: 0 3px 20px rgb(0 0 0 / 0.4);
    transition: outline-color .20s ease-out;
    color: #ffd700;
}